html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-image: url("http://netdna.webdesignerdepot.com/uploads/2013/07/featured23@wdd2x.jpg");
}

.clear {
    font-weight: bold;
    font-size: 16px;
}

.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #008a00;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    color: #727272;
    background-color: #f1f1f1;
}

ul.tab li {
    float: left;
}

ul.tab li a {
    display: inline-block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 30px;
}

ul.tab li a:hover {
    background-color: #f8f8f8;
}

ul.tab li a:focus,
.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.imgholder {
    width: 304px;
    height: 228px;
}

.amt {
    text-align: center;
    font-size: large
}

.price {
    font-size: large
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}